body{
    background-image: url(Images/green-background.jpg);
    background-size: cover;
    text-align : center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gainsboro;
    font-weight: bold;
    font-size:xx-large;
}

h1{
    color: goldenrod;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

#message-el{
    font-style: italic;
}

button{
    background-color: goldenrod;
    width: 260px;
    height: 70px;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(12, 66, 12);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 8px auto ;
}
button:hover{
    background-color: rgb(228, 180, 60);
}
button:disabled{
    background-color: gray;
}
