body{
    margin: 0;
    padding : 10px;
    font-family: Arial;
}

input{
    padding: 10px;
    margin-bottom: 5px;
    border: 2px solid #5f9321 ;
    width : 100%;
    box-sizing: border-box;

}

button{
    display: block;
    background-color: #5f9321;
    color: white;
    padding: 5px 10px;
    font-weight : bold;
    border: none;
}

button:hover{
    background-color:#7cad41
}

ul{
    padding: 0px;
}

li{
    list-style: none;
}

a{
    color:#5f9321;
}
